@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Cabin Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ebebeb;
  min-width: 1260px;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999; /* Asegura que el encabezado esté en la parte superior */
}



#nav-bar {
  font-size: 1.2em;
  white-space: nowrap;
}

#nav-bar, #footer, #signIn {
  display: block;
  clear: both;
  position: relative;
  top: 0;
  left: 0;
}

#logo{
  background-color: black;
  justify-content: center;
  padding: 5px;
}

#logo, #search, .linksDesing, #positionRight {
  position: static;
}

#logo, #footer, #links, #hello, #returns {
  color: aliceblue;
}

#logo, #logoLink, #location, .account, #selectOption, #buttonSearch, #languageOption, #links {
  align-items: center;
}


#logo-bar {
  display: flex;
  height: 55px;
  justify-content: center;
}

#logoLink {
  padding: 15px 5px;
}

#header-img {
  width: 100px;
  padding: 0 5px;
}


#location, .account {
  font-family: inherit;
  float: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

#components, .spanText {
  display: flex;
  padding: 0 10px;
}

#new {
  padding-top: 20px;
  font-size: 17px;
  padding-right: 5px;
}

.small {
  color: rgba(240, 248, 255, 0.767);
  margin-top: 0;
  padding-right: 0;
  font-size: 13px;
  font-weight: 400;
  float: left;
  padding-top: 10px;
}

.underTheSmall {
  margin: 0;
  font-size: 15px;
  line-height: 15px;
  font-weight: bolder;
  float: left;
  padding-bottom: 5px;
  padding-right: 0;
}

#search {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#selectOption {
  color: #525559;
  border: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #e2e2e2;
  cursor: pointer;
  height: 40px;
  font-size: 13px;
  padding: 5px;
  width: auto;
}

#inputSearch {
  box-sizing: border-box;
}

#diagonal-form {
  display: flex;
  flex-direction: row;
  padding: 5px;
  width: 500px;
}

#changeSelect {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  color: #000000;
}

#changeSelect::-webkit-scrollbar {
  width: 7px;
  
}

#changeSelect::-webkit-scrollbar-thumb {
  background-color: #1a60bb;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

#changeSelect::-webkit-scrollbar-track {
  background-color: #eee;
}

.fake-select {
  display: inline-block;
  padding: 5px;
  user-select: none;
}

#selectOption:hover {
  background-color: #d2d1d1;
  color: #000000;
}

#inputSearch {
height: 40px;
border: none;
outline: none;
padding: 10px;
width: 100%;
}

#buttonSearch {
width: 2.5em;
font-size: large;
padding: 0.5em;
background-color: #ffbe68;
border: none;
height: 40px;
border: 1px solid #85858500;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}

#buttonSearch:hover {
background-color: #eea84c;
}






#language{
  padding: 10px 5px;
}

#languageOption {
  display: flex;
  font-size: 15px;
  padding: 7px 5px;
  font-weight: 700;
  margin: 3px;
}

#flag{
  width: 20px;
  height: 15px;
  margin: 0 5px;
}

.textAccount {
  text-align: start;
  padding: 0 5px;
}


#cart {
  padding: 5px;
}

#cartObjects {
  display: flex;
  padding: 0 5px;
}

#icoCart {
  margin: 0 3px;
  font-size: 30px;

}

#textCart {
  padding-top: 20px;
}

.navItems {
  cursor: pointer;
  margin: 0 2px;
}





#links {
  background-color: rgb(35, 39, 53);
  height: 40px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

#links a {
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
}

#links, #logos {
  color: white;
  text-decoration: none;
  transition: border-color 0.3s;
}

#flex{
  display: flex;
  margin: 0 10px;
}

#nav-bar a:hover {
  border: 1px solid white;
}


.linksDesing {
  padding: 10px;
}

#positionRight {
  display: flex;
  margin-right: 10px;
}

.nav-link {
  padding: 3px 5px;
  text-decoration: none;
  color: aliceblue;
}






#right {
  padding: 10px;
  margin: 10px;
}

.ImgContent {
  background: #ffffff;
  text-align: start;
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 290px;
  height: 440px;
  margin: 5px auto;
  position: relative;
}

#linkButton {
  height: 170px;
  align-items: center;
  margin: 5px auto;
}

#sign1 {
  background-color: gold;
  border-radius: 5px;
  width: 250px;
  height: 30px;
  border: none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 5px;
}

#sign1:hover {
  background-color: rgba(251, 201, 35, 0.923)
}

#linkImg {
  height: 255px;
  margin-top: 15px;
}

#largeLink {
    position: relative;
    left: 30%;
}

.orderNew {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Crea tres columnas iguales por fila */
  gap: 5px;
  position: relative;
  right: 3px;
}

.smallImg {
display: flex;
flex-direction: column;
margin: 5px;
}

.smallimg {
width: 120px;
height: 100px;
}

.imgs {
  width: 260px;
  height: 280px;
}

.aling {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Crea tres columnas iguales por fila */
  gap: 5px;
  max-width: 1235px;
}

.alingL {
  background-color: #ffffff;
  overflow: hidden;
  white-space: nowrap;
  clear: both;
  position: relative;
  left: 5px;
  margin: 15px 0;
  max-width: 1210px;
}

.scroll-img {
    padding: 10px 0;
    overflow-x: scroll;
    overflow-y: hidden;
}

.scroll-img::-webkit-scrollbar {
    width: 10px;
    height: 6px;
}
  
  .scroll-img::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  .scroll-img::-webkit-scrollbar-thumb {
    background: #a5a5a5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.large {
  text-align: start;
}

.order2 {
  padding: 0 10px;
  cursor: pointer;
}

.division {
  padding: 0 15px;
}

.smallsmall {
  display: flex;
  flex-direction: row;
}

.bigI {
  width: 260px;
  height: 150px;
  
}

.title {
  padding: 5px 0;
  font-size: 12px;
  font-weight: 100;
  font-family: sans-serif;
}

.imgs4 {
  margin: auto;
}

.little {
  width: 80px;
  height: 80px;
}

.imgSmall {
  margin: 5px;
  width: 80px;
  text-align: start;
  position: relative;
  right: 5px;
}

#deal {
  height: 250px;
}

#up {
  text-decoration: none;
  color: #000000;
  display: flex;
  flex-direction: column;
  font-size: small;
}

#frame {
  color: #ffffff;
  background-color: rgb(196, 24, 24);
  line-height: 20px;
  padding: 5px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

#red {
  color: rgb(196, 24, 24);
}

#set-content {
  font-size: 12px;
  font-weight: bolder;
  font-family: monospace;
  margin: 0 0 5px 0;
}

#cel-email {
  display: flex;
  flex-direction: column;
}

#cel-email span {
  margin: auto;
}

#cel-email label {
  font-size: small;
}

#email, #cel {
  border: none;
  border-bottom: 1px solid rgb(255, 200, 0);
  margin: 5px;
  transition: 0.5s;
  outline: none;
  cursor: pointer;
}

#email:focus, #cel:focus {
  border: none;
  border-bottom: 1px solid rgb(255, 200, 0);
  background-color: rgb(239, 237, 237);
}

#quest-email {
  margin: 10px 0;
  font-size: large;
  color: #494848;
}

#submit:hover {
  background-color: #ffffff;
  color: rgb(255, 200, 0);
  transform: translateZ(2px);
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
}

#submit {
  font-weight: bolder;
  border: 1px solid rgb(255, 200, 0);
  background-color: rgb(255, 200, 0);
  color: rgb(255, 255, 255);
  font-size: 14px;
  margin: 40px auto;
  height: 30px;
  width: 120px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.span-title {
  text-decoration: none;
  font-size: smaller;
  position: absolute;
  bottom: 20px;
  left: 15px;
}







#signIn {
  background: #ffffff;
  text-align: center;
}

#into {
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: small;
}

#buttonSign {
  background-image: linear-gradient(rgb(255, 241, 214), rgb(255, 199, 68));
  width: 230px;
  height: 25px;
  margin: 5px auto;
  border: #eece4c 1px solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: smaller;
  text-align: center;
  cursor: pointer;
}

#movelink {
  font-weight: bolder;
  position: relative;
  top: 5px;
  font-size: 12px;
}

#quest {
  font-size: smaller;
}

#create, .span-title {
  color: rgb(57, 151, 146);
  cursor: pointer;
}

#create:hover, .span-title:hover {
  color: rgb(207, 100, 90);
}


#footContent {
    text-decoration: none;
    color: aliceblue;
}

#footLink {
  background-color: #32455a;
  text-align: center;
}

#centerF {
  padding: 10px 0;
} 

#footLink :hover {
  cursor: pointer;
  background-color: #435569;
}

#middle {
  background-color: #232F3E;
}

.objF {
  display: flex;
  flex-direction: row;
  text-align: start;
  margin: 0 80px;
}

.Efoot .Elink {
  display: flex;
  flex-direction: column;
}

.Efoot {
  margin: 60px;
}

#fourt {
  width: 137px;
}

#first {
  width: 120px;
}

#second {
  width: 165px;
}

.miniE {
  font-size: 16px;
  font-weight: 400;
  color: #ffffffa4;
  
}

.Elink {
  margin: 0;
  padding: 0 5px;
}

.miniE:hover {
  text-decoration: underline;
  cursor: pointer;
}

.padd {
  padding: 5px 0;
  margin: 0;
}

.headF {
  font-size: 18px;
  font-weight: 900;
  padding: 0 5px;
  white-space: nowrap;
}

#symbol {
  font-weight: 500;
  font-size: 14px;
  font-family: 'DM Sans', sans-serif;
  position: relative;
  bottom: 2px;
}

#footerHR {
  border: none; 
  height: 1px;
  background-color: #6f748046;
  margin: 20px 0;
}

#LanguageF {
  display: flex;
  flex-direction: row;
  padding: 15px 0 30px 0;
  margin: 0 25%;
}

#imgF {
  width: 90px;
  padding: 5px;
}

.pointer {
  margin: 0 40px;
}

#logoF, .borderE {
  cursor: pointer;
}

.borderE {
 display: flex;
 flex-direction: row;
 margin: 3px;
 border: solid 0.5px rgba(179, 177, 177, 0.623);
 border-radius: 3px;
 padding: 7px 5px;
 width: 150px;
 height: 35px;
 font-size: 15px;
 color: #ffffffa4;
 position: relative;
 bottom: 10px;
}

#lang {
  width: 120px;
}

#icoLang {
  padding: 0 5px;
  margin: 1px;
}

#information {
  display: flex;
  height: 35px;
  text-align: start;
} 

#flagF {
  width: 30px;
  height: 15px;
  padding: 0 5px;
  margin: 2px;
}


#lastOne {
  background-color: #131A22;
  color: #ffffffc4;
  padding: 10px 0;
}

#middleObj {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* Crea siete columnas iguales por fila */
  gap: 5px;
  position: relative;
  left: 100px;
  padding: 10px 5px;
  width: 1100px;
}

.minifooters {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px 10px;
}

.headLink {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  text-align: start;
}

.headLink:hover {
  text-decoration: underline;
  cursor: pointer;
}

.contentF {
  color: #bebebead;
  font-weight: 100;
}

.centerElements {
  position: relative;
  left: 155px;
}

.polit, #com {
  margin: 3px;
  padding: 5px;
  font-size: 12px;
  color: #ebebeb;
  font-family: Arial, Helvetica, sans-serif;
} 

#conditions {
  padding: 10px 0;
  margin: 1% 35%;
}

#com {
    position: relative;
    left: 10%;
}

#background {
  mask-image: linear-gradient(to top, transparent, black);
  -webkit-mask-image: linear-gradient(to top, transparent, black); /* Aplica un degradado a la imagen usando una máscara */
  background-size: cover;
}

#background-content {
  width: auto;
  display: flex;
  flex-direction: row;
  height: 300px;
  justify-content: space-between;
}

#link-background {
  width: 100%;
}

#content {
  margin-top: 105px;
}

.button-background {
  width: 80px;
  height: 100%;
  background-color: #ff000000;
  font-size: 70px;
  border: none;
  cursor: pointer;
  -webkit-text-stroke: 1px white;
  padding-right: 5px; /* Grosor y color del borde blanco (2px) */
  font-family: 'Poppins', sans-serif;
}


.button-background:active {
  border: #288393 solid 2px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-text-stroke: 1px rgb(255, 255, 255);  /* Grosor y color del borde blanco (1px) */
}



@media screen and (max-width: 768px) {
  #logo, #flex {
    display: none;
  }

  #content {
    margin-top: 40px;
  }
}